@import "../../../styles.scss";
.header {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
  font-family: $facebook-font;
  padding-bottom: 2rem;
  i {
    color: #bdbaba;
    padding: 0.4rem;
    font-size: 1.3rem;
  }
  h3 {
    display: flex;
    align-items: baseline;
    height: 12px;
  }
  &-sub-text {
    color: #b0b3b8;
    font-size: 15px;
    font-weight: 400;
    min-width: 18rem;
    display: inline-block;
  }
  li {
    margin-left: -150px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    li {
      margin-left: -500px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .header {
    li {
      margin-left: -50px;
    }
  }
}
