$facebook-text: #e4e6eb;
$facebook-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  sans-serif;
$roboto-font: "Roboto, sans-serif";

body {
  margin: 0;
  background-color: #18191a;
  ::-webkit-scrollbar {
    width: 11px;
  }
  font-family: $facebook-font;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
ul {
  list-style: none;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin clickable-img-link($padding) {
  a {
    padding: #{$padding};
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@mixin clickable() {
  cursor: pointer;
}
